.fondo {
    background: url("../img/red.jpg") no-repeat;
}

.fondogris {
    background-color: rgba(0, 0, 0, 0.5);
}

.fondoblanco {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100vh;
    width: 100%;
}

.translucido {
    background-color: rgba(255, 255, 255, 0.4);
}

.fondologin {
    background-image: url("../img/red.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.fondoprivado {
    background-image: url("../img/registrado.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.fondohistorial {
    background-image: url("../img/logo.jpeg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: left;
}
